# ignore all log files
**/*.log
# ignore User_Manual folder
User_Manual/
# all txt files that include "-"
**/*-*.txt
# styles.css
/src/styles.css
# all SRS besides final
Software_Requirement_Specification/!Software_Requirement_Specification/SRS_final.docx
# all SDD besides final
Software_Design_Document/!Software_Design_Document/SDD_final.docx
# any README not in root
/**/README.md
