# ignore all log files
**/*.log
# ignore User_Manual folder
User_Manual/
# all txt files that include "-"
**/*-*.txt
# styles.css
/src/styles.css
# all SRS besides final
**/Software_Requirement_Specification/SRS_v?.docx
# all SDD besides final
**/Software_Design_Document/SDD_v?.docx
# any README not in root
/**/README.md
