# a. Ignore all log files
*.log

# b. Ignore the entire user manual folder
user_manual/

# c. Ignore all txt files that include a "-"
*-*.txt

# d. Ignore the styles.css file
styles.css

# e. Ignore all SRS files besides the final version
SRS_v*.docx

# f. Ignore all SDD files besides the final version
SDD_v*.docx

# g. Ignore any README files not in the root directory
!/README*/README*